@font-face {
 font-family: 'MFYueHeiNoncommercial-Light';
 src: url('../font/MFYueHeiNoncommercial-Light.eot');
 src: url('../font/MFYueHeiNoncommercial-Light.woff') format('woff'),
 url('../font/MFYueHeiNoncommercial-Light.ttf') format('truetype'),
 url('../font/bMFYueHeiNoncommercial-Light.svg#MFYueHeiNoncommercial-Light') format('svg');
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "MFYueHeiNoncommercial-Light", sans-serif;
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
}
.day{
    background: #fff;
    color: #000;
}
.night{
    background: #000;
    color: #fff;
}
.time_area{
    width: 464px;
    height: 304px;
    margin: 8px auto;
}
.hhmmss{
    width: 378px;
    height: 122px；
    margin: 0px auto;
}
.hhmm{
    width: 304px;
    height: 122px;
    float: left;
    font-size: 120px;
}
.ss{
    width: 54px;
    height: 50px;
    margin: 56px auto auto 4px;
    float: left;
    font-size: 48px;
}
.date{
    width: 378px;
    height: 50px;
    margin: 8px auto 0px auto;
    float: left;
    font-size: 48px;
}
.weather{
    height: 38px;
    margin: 10px auto auto 43px;
    float: left;
    font-size: 18px;
}
#showtime{
    margin: 0 auto;
    position: relative;
    top: 25%;
    font-size: 98px;
}