@font-face {
 font-family: 'MFYueHeiNoncommercial-Light';
 src: url('../font/MFYueHeiNoncommercial-Light.eot');
 src: url('../font/MFYueHeiNoncommercial-Light.woff') format('woff'),
 url('../font/MFYueHeiNoncommercial-Light.ttf') format('truetype'),
 url('../font/bMFYueHeiNoncommercial-Light.svg#MFYueHeiNoncommercial-Light') format('svg');
}
body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: "MFYueHeiNoncommercial-Light", sans-serif;
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
}
.day{
    background: #fff;
    color: #000;
}
.night{
    background: #000;
    color: #fff;
}
.time_area{
    width: 464px;
    height: 304px;
    margin: 8px auto;
}
.hhmmss{
    width: 378px;
    height: 142px;
    margin: 0px auto;
}
#hhmm{
    width: 304px;
    height: 122px;
    margin: 20px 0px 0px 12px;
    float: left;
    font-size: 120px;
}
#ss{
    width: 54px;
    height: 50px;
    margin: 40px auto auto 4px;
    float: left;
    font-size: 48px;
}
#date{
    width: 334px;
    height: 36px;
    margin: 8px 44px 0px 64px;
    float: left;
    font-size: 32px;
}
.weather{
    width: 336px;
    height: 100px;
    margin: 0px 64px;
    padding: 9px 0px 0px 0px;
    letter-spacing: -1px;
    float: left;
}
.wco{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 80px;
}
#ct{
    width: 55px;
    height: 45px;
    float: left;
    margin: 5px 0px 0px 5px;
    font-size: 36px;
}
.tem_hum{
    width: 30px;
    height: 50px;
    float: left;
    margin: 0px 5px;
}
#ht{
    width: 30px;
    height: 16px;
    margin: 0px;
    font-size: 16px
}
#hu{
    width: 30px;
    height: 18px;
    margin: 0px;
    font-size: 16px
}
#lt{
    width: 30px;
    height: 16px;
    margin: 0px;
    font-size: 16px
}
#su{
    width: 130px;
    height: 40px;
    float: left;
    margin: 10px 3px 0px 3px;
    font-size: 30px;
}
#vi{
    width: 80px;
    height: 20px;
    float: left;
    margin: 0px 5px 0px 5px;
    font-size: 18px;
}
.rs{
    width: 135px;
    height: 20px;
    float: left;
    margin: 0px 0px 0px 5px;
    font-size: 16px;
}
.rise_set{
    width: 22px;
    height: 18px;
    float: left;
    margin: 0px;
}
.r_s{
    width: 40px;
    height: 20px;
    float: left;
}
#tip{
    width: 220px;
    height: 20px;
    float: left;
    margin: 4px 6px 0px 10px;
    font-size: 18px;
    text-align: center;
}